.footer__container{
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.footer__rigths{
    font-weight: 500;
    margin-right: 20px;
}

.footer__rigths span{
    text-wrap: nowrap;
}

.footer__logos{
    display: flex;
    align-items: center;
    gap: 1rem;;
}

.footer__logoContainer{
    cursor: pointer;
}

.footer__logos .fa-brands,
.footer__logos .fa-solid{
    font-size: 2rem;
    color: white;
    transition: transform 0.3s ease;
}

.footer__logoContainer:hover .fa-brands,
.footer__logoContainer:hover .fa-solid,
.footer__logoContainer--aldaydev:hover{
    transform: scale(1.1);
}

.footer__logoContainer--aldaydev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 5px 0;
    background-color: white;
    letter-spacing: -1px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 432px) {
    
    .footer__rigths{
        margin: 0;
    }

    .footer__container{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}