

.navbar{
    width: 80%;
    margin: 0 auto;
}

.navbar-brand{
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img{
    margin-right: 5px !important;
}


.navbar-collapse{
    font-size: 1.2rem;
}

.navbar-toggler{
    border: none;
    padding: 2px 0 2px 12px;
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    height: 2.2rem;
    opacity: 1;
}

.container-fluid{
    padding: 5px 0;
}

.navbar-nav{
    gap: 7px;
}

.nav-link{
    color: white;
    position: relative;
    transition: transform .3s ease-in-out;
}

@media screen and (max-width: 991.20px) {
    .navbar{
        width: 90%;
    }
}