<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <title>Page not found</title>
</head>
<body>
    <header class="app__header">
        <%- include('../partials/header'); %>
    </header>
</body>
</html>