<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<body>
    <div class="notFound__container">
        <h1 class="notFound__title">Page not found (404)</h1>
        <h3 class="notFound__subtitle"> Sorry, the page you are looking for (chords-api.com<%= url %>) does not exist.</h3>
        <a href="/">Go to Home</a>

    </div>
</body>
</html>