<html lang="en">
<head>

    <%- include('../partials/head'); %>
    <link href="/css/about.css" rel="stylesheet">

    <title>About AldayDev</title>
</head>
<body class="app">
    <header class="app__header">
        <%- include('../partials/header'); %>
    </header>
    
    <main class="app__main">
        <%- include('../partials/aboutContent'); %>
    </main>

    <footer class="app__footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>