<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link href="/css/header.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <%- include('../partials/header', { currentPage: 'home' }); %>
    </header>
    
    <main>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam voluptatem voluptatibus earum officia quis. Dolores facilis harum ut magnam, blanditiis quis minus autem et assumenda illo minima fugit exercitationem enim! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore laboriosam iusto nobis optio illum qui amet aliquam! At suscipit amet officia autem assumenda repudiandae tempora, mollitia sapiente reiciendis architecto vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi distinctio quis tenetur animi, saepe ad adipisci culpa eaque blanditiis! Illum nostrum voluptatem id molestiae culpa facere hic tempora expedita omnis.</p>
    </main>
</body>
</html>