

<h1 class="home__title">About Rafael Alday</h1>
<section class="about__description">
    <div class="about__flexContainer">
        <img src="/img/rafa-alday-photo.jpg" alt="AldayDev Photo" class="about__image">
        <p class="about__text about__text--1">Hi, I'm Rafa Alday, a web developer passionate about building projects that help me keep learning and that can also be useful for others. I’ve created my personal brand as <strong>AldayDev</strong>, and I enjoy working on web development from both frontend and backend sides, as well as managing relational and non-relational databases.</p>

        <p class="about__text about__text--2">I created this project for two main reasons. First, to showcase my skills in building web applications — in this case, an API — with a complete backend and clear, professional documentation. Second, to support other developers by offering a simple yet complete API that helps them get used to working with tools like Swagger and JSDoc.</p>
    </div>
    

    <article class="about__description2">
        <p>Feel free to get in touch if you'd like to share feedback, ask questions, or suggest a collaboration — I'd love to hear from you.</p>

        <p>You can also explore more of my work through the links below:</p>
    </article>

    <article class="about__links">
        <a href="https://linkedin.com/in/rafaelalday" target="_blank">
            <button type="button" class="btn btn-primary">LinkedIn</button>
        </a>
        <a href="https://alday.dev" target="_blank">
            <button type="button" class="btn btn-danger">Portfolio</button>
        </a>
        <a href="https://github.com/aldaydev" target="_blank">
            <button type="button" class="btn btn-warning">GitHub</button>
        </a>
    </article>

</section>

    