<div class="footer__container">

    <section class="footer__rigths">
        <span>AldayDev</span>
        <span>&copy; 2025</span>
    </section>
    
    <section class="footer__logos">
        <a href="https://linkedin.com/in/rafaelalday" target="_blank" class="footer__logoContainer">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/aldaydev" target="_blank" class="footer__logoContainer">
            <i class="fa-brands fa-square-github"></i>
        </a>
        <a href="mailto: aldaydev@gmail.com" class="footer__logoContainer">
            <i class="fa-solid fa-square-envelope"></i>
        </a>
        <a href="https://alday.dev" target="_blank" class="footer__logoContainer footer__logoContainer--aldaydev">
            <span>{A}</span>
        </a>
    </section>
</div>