<nav class="navbar navbar-expand-lg justify-content-between" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/icons/chords-api-icon.svg" alt="Chords API" width="43" height="43" class="d-inline-block align-text-top me-2">
            <span>Chords API</span>
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img src="/icons/menu-dots.svg"/>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-docs">Swagger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jsdoc">JSDoc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/aldaydev/chords_api" target="_blank">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>