
<hgroup class="main__presentation">
    <h1 class="main__title">The Free Chord API for Developers</h1>
    <h5 class="presentation__text">
        Chords API is a free and developer-focused REST API that provides easy access to a wide range of musical chords. Designed for simplicity and flexibility, it allows you to integrate chord data into your apps, websites, or music-related projects with ease via simple HTTP requests. No authentication required, just plug and play.
    </h5>
</hgroup>

<section class="main__exampleImages">
    
        <img class="exampleImages__image" src="https://github.com/aldaydev/chords_images/blob/main/guitar-chords/c/chord-c-7-pos1.png?raw=true" alt="Chords API example image" />
    
        <img class="exampleImages__image" src="https://github.com/aldaydev/chords_images/blob/main/guitar-chords/c/chord-c-7-pos1.png?raw=true" alt="Chords API example image" />

        <img class="exampleImages__image" src="https://github.com/aldaydev/chords_images/blob/main/guitar-chords/c/chord-c-7-pos1.png?raw=true" alt="Chords API example image" />

        <img class="exampleImages__image" src="https://github.com/aldaydev/chords_images/blob/main/guitar-chords/c/chord-c-7-pos1.png?raw=true" alt="Chords API example image" />
    
</section>

<section class="main__features">
    <h3 class="main__title">Main Features</h3>
    <article class="features__container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Designed for junior developers
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                        <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                        <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being
                        filled with some actual content.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                        <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                        happening here in terms of content, but just filling up the space to make it look, at least at first
                        glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
            </div>
        </div>
    </article>
</section>